[submodule "code/veld_code__fasttext"]
	path = code/veld_code__fasttext
	url = https://github.com/veldhub/veld_code__fasttext.git
[submodule "code/veld_code__word2vec"]
	path = code/veld_code__word2vec
	url = https://github.com/veldhub/veld_code__word2vec.git
[submodule "code/veld_code__wordembeddings_evaluation"]
	path = code/veld_code__wordembeddings_evaluation
	url = https://github.com/veldhub/veld_code__wordembeddings_evaluation.git
[submodule "code/veld_code__glove"]
	path = code/veld_code__glove
	url = https://github.com/veldhub/veld_code__glove.git
[submodule "code/veld_code__wordembeddings_preprocessing"]
	path = code/veld_code__wordembeddings_preprocessing
	url = https://github.com/veldhub/veld_code__wordembeddings_preprocessing.git
[submodule "code/veld_code__wikipedia_nlp_preprocessing"]
	path = code/veld_code__wikipedia_nlp_preprocessing
	url = https://github.com/veldhub/veld_code__wikipedia_nlp_preprocessing.git
